*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    list-style: none;
    text-decoration: none;
}


body {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(98% 64% at 116% 86%, #b22724 0%, #000 100%);
    min-height: 100vh;
  }

header {
    display: flex;
    /* background-color: #DC143C; */
    background: url(../asset/fond-cinema.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    box-shadow: 0px -11px 14px 0px rgba(0,0,0,1) inset;
}
nav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: calc(0.5rem + 1.5vw);
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.logo {
    width: calc(4rem + 1.5vw);
    height: calc(4rem + 1.5vw);
}

/********** animation du logo **********/

@media (prefers-reduced-motion: no-preference) {
    .logo-cinema {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/*********** CAROUSEL **********/

.carousel {
    display: flex;
    width: fit-content;
    animation: scroll 200s linear infinite; 
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

.carousel img {
    height: 100%;
    width: auto;
    margin-right: 20px;
    border-radius: 5px;
    object-fit: cover;
}

/********************/

#container-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select {
    margin-top: 3rem;
    font-size: 1.1rem;
    padding-left: 20px;
    margin-left: 1rem;
    
}

a {
    color: #fff;
}
  
  h1 {
    text-align: center;
  }
  
  .grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 20px;
    width: 90%;
  }
  
  .thumb {
    color: #fff;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .thumb:hover {
    transform: scale(1.03);
  }
  
  .thumb img {
    width: 100%;
    border-radius: 8px;
  }
  
  .hidden {
    display: none;
  }

  /********** VIDEOS **********/

  #video-detail {
    position: relative;
    padding-bottom: 26%; /* ratio 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    margin: 2rem auto;
    width: 90%;
    max-width: 850px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    margin-bottom: 15rem;
    margin-top: 15rem;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#video-detail iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}

#arrow {
    text-align: center;
}

@media (max-width: 1200px) {
  #video-gallery {
      grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  #video-gallery {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  #video-gallery {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  #video-gallery {
      grid-template-columns: 1fr;
  }
}
